# =====================================================
# C++ GitHub .gitignore (Student Projects)
# Course: Introduction to Problem Solving and Programming
# =====================================================

# -----------------------------------------------------
# Compiled program files
# -----------------------------------------------------
*.exe
*.out
*.app

# -----------------------------------------------------
# Object files
# -----------------------------------------------------
*.o
*.obj

# -----------------------------------------------------
# Visual Studio files and folders
# -----------------------------------------------------
.vs/
Debug/
Release/
x64/
*.vcxproj.user
build/

# -----------------------------------------------------
# Temporary / backup files
# -----------------------------------------------------
*.log
*.tmp
*~
